/* 카드 css */
main {
    padding: 5% 10%;
    justify-items: center;
}

#cardArea {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 20px;
    list-style: none;
    height: auto;
}

.movieCard {
    background-color: white;
    border-radius: 10px;
    border: 2px black solid;
    text-align: center;
    width: 100%;
}

.poster {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: fill;
}

.title {
    color: black;
    font-size: 1rem;
}

.voteAvg {
    color: black;
    font-size: 0.8rem;
    padding: 5px;
}

#cardArea .searchResultNo {
    position: absolute;
    color: black;
    font-size: 1.7rem;
}
