#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modalContent {
    position: relative;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
}

#close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
