#modalContent {
    display: grid;
    justify-items: center;
}

#modal {
    position: fixed;
    top: 9%;
    left: 35%;
    width: 30%;
    border-radius: 8px;
}

#modal::backdrop {
    background-color: #d74e2c;
    opacity: 0.2;
}

#modal .modalPoster {
    width: 50%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin: 20px 0;
}

#modal .overview {
    margin: 18px;
    font-size: 1rem;
}
#modal .releaseDate {
    font-size: 1.5rem;
}
#modal .modalVoteAverage {
    margin: 10px;
    font-size: 1.3rem;
}

#close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 50px;
    cursor: pointer;
}
